/* Global CSS Begins  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --mainCol: #d83335;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}
/* Global CSS Ends  */
/* First Navbar CSS Begins */
.first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainCol);
    padding: 1rem; /* 16px */
    height: fit-content;
}
.first-nav-heading{
    color: #ffffff;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-left: 1.5rem; /* 24px */
}
.search-container{
    display: flex;
    margin-right: 1.5rem; /* 24px */
}
.search-bar{
    padding: 0.5rem; /* 8px */
    height: 2.25rem; /* 36px */
    width: 15rem;
    border: none;
    border-radius: 1rem; /* 16px */
}
.search-bar:focus{
    outline: none;
}
/* First Navbar CSS Ends */
/* Second Navbar CSS Begins */
.second-nav{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0; /* top | right | bottom | left */
    border-bottom: 1px solid #777;
    
}
.second-nav-ul{
    display: flex;
    justify-content: space-around;
    padding-left: 1.5rem;
    gap: 1rem;
}
.nav-link{
    font-size: 1.15rem;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}
.nav-link:hover{
    color: var(--mainCol);
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.1);
    padding: 12px 14px;
    z-index: 1;
    min-width: 50vw;
    width: 60vw;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content-account{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.1);
    padding: 12px 14px;
    z-index: 1;
    width: 10rem;
}
.dropdown:hover .dropdown-content-account{
    display: block;
}
.dropdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dropdown-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
}
.dropdown-content-image{
    width: 12rem;
    height: auto;
}
.nav-heading{
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
}
.nav-drop-list{
    font-weight:300 ;
    text-transform: capitalize;
    font-size: 1rem;
    color: #777;
    line-height: 1.5rem;
}
.nav-drop-list:hover{
    color: var(--mainCol);
}
/* Second Navbar CSS Ends */