*{
    margin: 0px;
}
.side-navbar{
    width: 25rem;
    height: 100%;
    /* background: rgb(150, 73, 73); */
    display: block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar button{
    float: right;
    padding: 1rem 1.4rem;
    font-size: x-large;
    width: auto;
    border: none;
    color: rgb(255, 255, 255);
    background: #000;
}
.navbar-list{
   padding: 3rem 0px;
   /* overflow-y: scroll; */
}
.navbar-list ul{
    padding-left: 0px;
}
.cross{
    cursor: pointer;
}
.navbar-list ul li{
    padding-left: 2rem;
    /* padding: 20px; */
    line-height: 50px;
    list-style: none;
    color: rgba(0, 0, 0, 0.808);

    font-size: 1.3rem;
    display: block;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: 0rem; */
	text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    user-select: none;
}
.navbar-list ul li:hover{
    /* color: rgb(100, 175, 38); */
    background: rgba(233, 231, 231, 0.685);
    padding-left:1.3rem ;
    border-left: rgb(130, 194, 93) 9px solid;
}
.navbar-list ul ul{
    position: static;
    display: block;
}
.navbar h1{
    font-size: 2rem;
    padding-top: 1rem;
    font-family: cursive;
    color: rgb(14, 199, 23);
    user-select: none;
    padding-left: 1.3rem;


}
a{
    color: rgba(0, 0, 0, 0.808);
    text-decoration: none;
}
li:hover , a:hover{
    
}
.parent span{
    float: right;
}
span:hover{
   color: rgba(0, 0, 0, 0.808); ;
}